<nav id="navbar" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a id="brand-logo" class="navbar-brand">{{#link-to 'index'}}Exhale{{/link-to}}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'category' 'apparel'}}Apparel{{/link-to}}</li>
        <li>{{#link-to 'category' 'equipment'}}Equipment{{/link-to}}</li>
        <li>{{#link-to 'category' 'coupons'}}Coupons{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>




<!-- <div class="">
  <nav class="light-green">
    <div class="nav-wrapper">
      <a id="brand-logo" class="brand-logo">Exhale</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'category' 'apparel'}}Apparel{{/link-to}}</li>
      </ul>
    </div>
  </nav>
</div> -->
