#navbar {
  background-color: #a5d6a7;

  #brand-logo {
    padding-left: 10px;
    font-size: 2em;
  }

  .btn-checkout {
    margin-top: 5px;
  }
}

.btn-submit {
  background-color: #ffcc80;
}

.item-tile {
  img {
    max-width: 30%;
  }
  h5 {
    padding-left: 30px;
  }
}

.add-rating {
  padding: 30px 0;
}

.rating-tile {
  font-size: 0.8em;
  background-color: #b3e5fc;
  padding: 1px 10px 5px 10px;
  margin: 10px;
}
