<div class="page-header">
  <h2>Yoga Store</h2>
</div>

{{#each model.items as |item|}}
  {{#link-to 'single-item' item.id}}{{item-tile item=item}}{{/link-to}}
{{/each}}



{{create-item createItem="createItem"}}
